$main-theme: (
  //Background colors
  color-default-background: transparent,
  color-primary-background: #ffffff,
  color-primary: #3a1078,
  color-secondary: #4e31aa,
  color-tertiary: #2f58cd,
  color-error: #f44336
);
