@use "sass:meta" as meta;
@use "sass:string" as string;
@use "../config/colors" as colors;

/*
  * Custom variable values only support SassScript.
  * We therefore convert the properties to css custom properties to be available at runtime.
*/
@each $key, $color in meta.module-variables("colors") {
  :root[data-theme="#{$key}"] {
    @each $key, $value in $color {
      --#{$key}: #{$value};
    }
  }
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

li {
  color: currentColor;
}

* {
  box-sizing: border-box;
}
